<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - AirAware</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<nav>
    <h2>AirAware</h2>
    <div class="nav-right">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact" class="active">Contact</a></li>
        </ul>
        <button id="darkModeBtn" class="dark-toggle">🌙</button>
    </div>
</nav>


<div class="contact-container">
    <h1>Contact Us</h1>
    <p class="contact-subtitle">We would love to hear from you!</p>

    <!-- SUCCESS MESSAGE -->
    {% if success %}
        <div class="success-popup">
            Thanks for your feedback!
        </div>
    {% endif %}

    <div class="contact-box">
        <form action="/save_message" method="POST">

            <label>Your Name</label>
            <input type="text" name="name" required>

            <label>Your Email</label>
            <input type="email" name="email" required>

            <label>Message</label>
            <textarea name="message" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>
</div>

<script src="/static/js/script.js"></script>

</body>
</html>





