<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - AirAware</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <h2>AirAware</h2>
        <ul>
            <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/about">About</a></li>
        <li><a class="active" href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="contact-container">
        <h1>Contact Us</h1>
        <p class="contact-subtitle">Have a query? Fill the form and we’ll get back to you.</p>

        <div class="contact-box">
            <form>

                <label>Name</label>
                <input type="text" placeholder="Enter your name">

                <label>Email</label>
                <input type="email" placeholder="Enter your email">

                <label>Message</label>
                <textarea placeholder="Write your message..."></textarea>

                <button type="submit">Submit</button>

            </form>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
